services:
  database:
    image: mariadb
    container_name: db_cinegest-back
    restart: always
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - TZ=Europe/Paris
    networks:
      - cinegest-back

  phpmyadmin:
    image: phpmyadmin
    container_name: phpmyadmin_cinegest-back
    restart: always
    depends_on:
      - database
    ports:
      - "8900:80"
    environment:
      PMA_HOST: database
      UPLOAD_LIMIT: 30M
    networks:
      - cinegest-back

  api:
    build: ./
    container_name: cinegest-back
    ports:
      - "8901:443"
      - "8902:80"
    volumes:
      - ./:/app
    environment:
      - PHP_MEMORY_LIMIT=512M
    restart: always
    networks:
      - cinegest-back

networks:
  cinegest-back:

volumes:
  db-data: